<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/mantee" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="mail" placeholder="Mail-Id">
        <input type="text" name="password" placeholder="Password">
        <input type="text" name="designation" placeholder="Designation">
        <input type="text" name="school" placeholder="School">
        <input type="text" name="interest" placeholder="Interest">
        <input type="text" name="social" placeholder="Social-Media">

        <input type="submit">
    </form>
</body>
</html>